# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# VSCode
.vscode/

# Workspace
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Local runtime data
data/

# test
test_directory/