# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/

# VSCode
.vscode/

# Workspace
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# local config
config.json